body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

.gameContainer {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.enemyGuesses ul, .yourGuesses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.guessesContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.inputArea {
    margin-bottom: 20px;
}

.inputArea label {
    display: block;
    margin-bottom: 5px;
}

.inputArea input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.notesArea textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
}

.home-container {
    text-align: center; 
    background-color: orange;
    color: white;
    padding: 20px;
    border: 2px solid white; 
}

.home-buttons {
    margin-top: 1%;
    text-align: center;
}


.home-buttons button {
    display: block; 
    margin: 1% auto; 
    padding: 1% 1%; 
    font-size: 1.6vw; 
}

.lastHourTable {
    text-align: center;
}

.lastHourContainer {
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    max-height: 165px; 
    
}

.lastHourHeader {
    font-weight: bold;
    margin-bottom: 10px;  
    text-align: center;
}

.lastHourTable {
    
    margin-bottom: 20px;  
}


.container {
    display: flex;
    height: 100vh;
  }
  
  .gameContainer {
    width: 70%;
  }
  
  .chatRoom {
    width: 30%;
  }